{% extends 'base.html' %}

{% block content %}
<br>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Nama: {{nama}} </a>
          <button><a href="{% url 'wishlist:logout' %}">Logout</a></button>
        </ul>
      </div>
    </div>
  </nav>
<br>

<table>
    <tr>
    <th>Nama Barang</th>
    <th>Harga Barang</th>
    <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in list_barang %}
    <tr>
        <th>{{barang.nama_barang}}</th>
        <th>{{barang.harga_barang}}</th>
        <th>{{barang.deskripsi}}</th>
    </tr>
{% endfor %}
</table>
<br>
  <h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}